.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 99vh;
    position: relative;
}

.home>h1 {
    align-self: center;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 4rem;
    animation: change 9s forwards;
    animation-delay: 4s;
    pointer-events: none;
    opacity: 0;
    font-family: inherit;
}

.home>h2 {
    align-self: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2rem;
    animation: change 9s forwards;
    animation-delay: 4s;
    pointer-events: none;
    opacity: 0;
    font-family: inherit;
}

.learn-more {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 9s;
    font-family: inherit;
}

.learn-more:hover {
    text-decoration: underline;
}

.learn-more>p {
    font-size: xx-large;
    pointer-events: none;
}

#down {
    align-self: center;
    height: 4rem;
    width: 4rem;
}

@keyframes change {
    from {
        opacity: 0%;
        transition: opacity .5s;
    }

    to {
        opacity: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}